
@{
    ViewData["Title"] = "Results";
}

<h3>@ViewBag.jobs.Count Result(s)</h3>

<br />

@foreach (var job in ViewBag.jobs)
{
    <table class="job-listing">


        @foreach (KeyValuePair<string, string> item in job)
        {
            <p>@item.Key : @item.Value</p>
        }



    </table>

}



